{% extends 'social/layout.html' %}
{% load humanize%}
{% block content %}
{% load static %}

<!--=============================================================-->
<!-- BIENVENIDA -->
<!--=============================================================-->

<div class="imagenI">
    <section class="textos-intro">
        <h1>BIENVENIDOS A MI CULTIVO</h1>
        <h2>PROGRESA</h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
    </svg></div>
</div>

<!--=============================================================-->
<!-- INTRO -->
<!--=============================================================-->


    <section class="w-50 mx-auto text-center pt-5" id="intro">
        <h1 class="p-3 fs-2 border-top borde-3"><span style="color: #227035;">MI CULTIVO PROGRESA</span></h1>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
    
                <div class="carousel-item active">
                    <img src="{% static 'img/imagen1.jpg' %}" class="d-block w-100" alt="imagen1.jpg">
                </div>
    
                <div class="carousel-item">
                    <img src="{% static 'img/imagen2.jpg' %}" class="d-block w-100" alt="imagen2.jpg">
                </div>
    
                <div class="carousel-item">
                    <img src="{% static 'img/imagen3.jpg' %}" class="d-block w-100" alt="imagen3.jpg">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
        <p class="p-3 fs-5 border-bottom ">Productos del campo, 100% por manos del campo.</p>
    </section>

<!--=============================================================-->
<!-- EQUIPO -->
<!--=============================================================-->

    <section class="container-fluid">
        <div class="row w-75 mx-auto  servicio-fila">
            
            <div class="col-lg-6 col-md-12 col-sd-12 my-5 icono-wrap" id="fila1">
                <img src="{% static 'img/descarga1.jpg' %}" alt="imagen1" width="190" height="160">
                <h3 class="fs-5 mt-4 px-4 pb-1"><b> Proposito</b></h3>
                <p class="px-4">Promover la ayuda para que los campesinos puedan vender sus productos del campo sin ningún pago a terceros y de forma segura.</p>
            </div>
            <div class="col-lg-6 col-md-12 col-sd-12 my-5 icono-wrap">
                <img src="{% static 'img/descarga2.jpg' %}" alt="imagen1" width="190" height="160">
                <h3 class="fs-5 mt-4 px-4 pb-1"><b> Alcance</b></h3>
                <p class="px-4">Tenemos planeado que esta página sea una solución a la problemática actual que hay en el sector agropecuario, si tenemos el apoyo de la comunidad esta página recibirá soporte por mucho tiempo más del estimado.</p>
            </div>
        </div>
        <div class="row w-75 mx-auto  servicio-fila" id="fila2">
            <div class="col-lg-6 col-md-12 col-sd-12 my-5 icono-wrap">
                <img src="{% static 'img/descarga4.jpg' %}" alt="imagen1" width="190" height="160">
                <h3 class="fs-5 mt-4 px-4 pb-1"><b> Equipo</b></h3>
                <p class="px-4">El equipo de trabajo actualmente está conformado por 4 aprendices, que a pesar de las dificultades siguen aprendiendo y mejorando sus habilidades.</p>
            </div>

            <div class="col-lg-6 col-md-12 col-sd-12 my-5 icono-wrap">
                <img src="{% static 'img/descarga3.jpg' %}" alt="imagen1" width="190" height="160"> 
                <h3 class="fs-5 mt-4 px-4 pb-1"><b> Objetivo</b></h3>
                <p class="px-4"> Basado en lo anterior, nuestro anhelo es aportar un granito de arena por medio de estos espacios tecnológicos para que el sector urbano se acerque más y brinde el acompañamiento y apoyo necesario al pequeño y mediano agricultor.</p>
            </div>
        </div>
 
    </section>

<!--========================================================== -->
<!--CONTACTO-->
<!--========================================================== -->

<div class="contacto" id="contact1">

</div>

{% endblock %}